<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mesite.infrastructure.gatewayimpl.database.mapper.ITmsTestRepsMapper">
	<select id="selectPageByLockedAndName"
	        resultType="com.mesite.module.tms.entity.TmsTestRepsVo">
		select * from tms_test_reps
		<where>
			<if test="locked!=null">
				locked=#{locked}
			</if>
			<if test="key!=null and key!=''">
				and name like concat('%',#{key},'%')
			</if>
		</where>
		order by utime
	</select>

	<select id="countByTmsTestRepsIdAndTxIdAll"
	        resultType="com.mesite.module.tms.entity.TmsTestRepsVo">
		SELECT singleChoice, multipleChoice, verdict, interpose, shortAnswer, groupQuestion, totalQuestion
		FROM (SELECT count(id) AS singleChoice FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 0) AS t0,
		     (SELECT count(id) AS multipleChoice FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 1) AS t1,
		     (SELECT count(id) AS verdict FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 2) AS t2,
		     (SELECT count(id) AS interpose FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 3) AS t3,
		     (SELECT count(id) AS shortAnswer FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 4) AS t4,
		     (SELECT count(id) AS groupQuestion FROM tms_test WHERE tms_test_reps_id = #{id} AND tx_id = 5) AS t5,
		     (SELECT count(id) AS totalQuestion FROM tms_test WHERE tms_test_reps_id = 1) AS t6
	</select>


</mapper>
