<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mesite.infrastructure.gatawayimpl.database.mapper.TmsTestPaperMapper">

	<select id="selectTmsTestPaper" resultType="com.me.mesite.infrastructure.gatawayimpl.database.dataobject.TmsTestPager">
		select * from tms_test_pager
		<where>
			<if test="tmsKindId!=null">
				tms_kind_id=#{tmsKindId}
			</if>
			<if test="tmsCourseId!=null">
				and tms_course_id=#{tmsCourseId}
			</if>
			<if test="title!=null and title!=''">
				and title like concat('%',#{title},'%')
			</if>
		</where>

		<if test="from!=null and limit!=null">
			limit #{from} ,#{limit}
		</if>
	</select>

	<select id="countTmsTestPaper" resultType="java.lang.Integer">
		select count(id) from tms_test_pager
		<where>
			<if test="tmsKindId!=null">
				tms_kind_id=#{tmsKindId}
			</if>
			<if test="tmsCourseId!=null">
				and tms_course_id=#{tmsCourseId}
			</if>
			<if test="title!=null and title!=''">
				and title like concat('%',#{title},'%')
			</if>
		</where>
	</select>

</mapper>